/* .container{
    display: flex;
}
.forcats, .card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    flex-direction: row;
    align-items: center;
} */

header{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.today-card, .aside, .week{
border: solid black 1px;
}
.forcast{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
